body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-raleway: Raleway;
    --font-roboto: Roboto;
    --font-josefin-sans: "Josefin Sans";
    --font-source-sans-3: "Source Sans 3";
  
    /* font sizes */
    --font-size-5xl: 24px;
    --font-size-lg: 18px;
    --font-size-xs: 12px;
  
    /* Colors */
    --white: #fff;
    --color-gainsboro-100: #d9d9d9;
    --white-smoke: #f5f5f5;
    --black: #000;
    --lime: #c5f42c;
    --black-50: rgba(0, 0, 0, 0.5);
  
    /* Border radiuses */
    --br-base: 16px;
    --br-5xs: 8px;
  }
  